
\.idea/

__pycache__/

*.out

state_positions\.txt

bots/jarvisRetail/logs/full_log\.out\.1

bots/jarvisRetail/logs/full_log\.out\.2

flask_session/4c4e91ec40ca91a4bd26c78beefc21d7

flask_session/50040b5bbe67983065cb2455fd65d349

flask_session/613b87256988e4b3e41bf94db96e0177

flask_session/6bba0bac2fd841e024e3f3b691ff3a3f

flask_session/eda843e296372078631a0721879c0634

flask_session/tmp2fww8arn\.__wz_cache

flask_session/tmp7pu8jec4\.__wz_cache

flask_session/tmpdoz6g7x8\.__wz_cache

flask_session/tmpe5bfxvwt\.__wz_cache

flask_session/tmphox2qhnp\.__wz_cache

flask_session/tmprs3fzgei\.__wz_cache

flask_session/
