.entities {
  line-height: 2;
}

[data-entity] {
  padding: 0.25em 0.35em;
  margin: 0 0.25em;
  line-height: 1;
  display: inline-block;
  border-radius: 0.25em;
  border: 1px solid;
}
[data-entity]:after {
  box-sizing: border-box;
  content: attr(data-entity);
  font-size: 0.6em;
  line-height: 1;
  padding: 0.35em 0.35em;
  border-radius: 0.35em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0.1rem 0.5rem;
}
[data-entity][data-entity=problem] {
  background: rgba(214, 203, 211, 0.2);
  border-color: #d6cbd3;
}
[data-entity][data-entity=problem]:after {
  background: #d6cbd3;
}
[data-entity][data-entity=test] {
  background: rgba(236, 161, 166, 0.2);
  border-color: #eca1a6;
}
[data-entity][data-entity=test]:after {
  background: #eca1a6;
}
[data-entity][data-entity=treatment] {
  background: rgba(189, 206, 190, 0.2);
  border-color: #bdcebe;
}
[data-entity][data-entity=treatment]:after {
  background: #bdcebe;
}
[data-entity][data-entity=person] {
  background: rgba(166, 226, 45, 0.2);
  border-color: #a6e22d;
}
[data-entity][data-entity=person]:after {
  background: #a6e22d;
}
[data-entity][data-entity=per] {
  background: rgba(166, 226, 45, 0.2);
  border-color: #a6e22d;
}
[data-entity][data-entity=per]:after {
  background: #a6e22d;
}
[data-entity][data-entity=norp] {
  background: rgba(224, 0, 132, 0.2);
  border-color: #e00084;
}
[data-entity][data-entity=norp]:after {
  background: #e00084;
}
[data-entity][data-entity=facility] {
  background: rgba(67, 198, 252, 0.2);
  border-color: #43c6fc;
}
[data-entity][data-entity=facility]:after {
  background: #43c6fc;
}
[data-entity][data-entity=org] {
  background: rgba(67, 198, 252, 0.2);
  border-color: #43c6fc;
}
[data-entity][data-entity=org]:after {
  background: #43c6fc;
}
[data-entity][data-entity=gpe] {
  background: rgba(253, 151, 32, 0.2);
  border-color: #fd9720;
}
[data-entity][data-entity=gpe]:after {
  background: #fd9720;
}
[data-entity][data-entity=loc] {
  background: rgba(253, 151, 32, 0.2);
  border-color: #fd9720;
}
[data-entity][data-entity=loc]:after {
  background: #fd9720;
}
[data-entity][data-entity=product] {
  background: rgba(142, 125, 255, 0.2);
  border-color: #8e7dff;
}
[data-entity][data-entity=product]:after {
  background: #8e7dff;
}
[data-entity][data-entity=event] {
  background: rgba(255, 204, 0, 0.2);
  border-color: #ffcc00;
}
[data-entity][data-entity=event]:after {
  background: #ffcc00;
}
[data-entity][data-entity=work_of_art] {
  background: rgba(255, 204, 0, 0.2);
  border-color: #ffcc00;
}
[data-entity][data-entity=work_of_art]:after {
  background: #ffcc00;
}
[data-entity][data-entity=language] {
  background: rgba(255, 204, 0, 0.2);
  border-color: #ffcc00;
}
[data-entity][data-entity=language]:after {
  background: #ffcc00;
}
[data-entity][data-entity=date] {
  background: rgba(47, 187, 171, 0.2);
  border-color: #2fbbab;
}
[data-entity][data-entity=date]:after {
  background: #2fbbab;
}
[data-entity][data-entity=time] {
  background: rgba(47, 187, 171, 0.2);
  border-color: #2fbbab;
}
[data-entity][data-entity=time]:after {
  background: #2fbbab;
}
[data-entity][data-entity=percent] {
  background: rgba(153, 153, 153, 0.2);
  border-color: #999;
}
[data-entity][data-entity=percent]:after {
  background: #999;
}
[data-entity][data-entity=money] {
  background: rgba(153, 153, 153, 0.2);
  border-color: #999;
}
[data-entity][data-entity=money]:after {
  background: #999;
}
[data-entity][data-entity=quantity] {
  background: rgba(153, 153, 153, 0.2);
  border-color: #999;
}
[data-entity][data-entity=quantity]:after {
  background: #999;
}
[data-entity][data-entity=ordinal] {
  background: rgba(153, 153, 153, 0.2);
  border-color: #999;
}
[data-entity][data-entity=ordinal]:after {
  background: #999;
}
[data-entity][data-entity=cardinal] {
  background: rgba(153, 153, 153, 0.2);
  border-color: #999;
}
[data-entity][data-entity=cardinal]:after {
  background: #999;
}

/*# sourceMappingURL=displacy-ent.css.map */
