@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  html {
    font-size: 12px;
  }
}

body {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #1e1935;
  font: normal normal 1rem/1.5 "Sailec", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: auto;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.u-text-small.u-text-small {
  font-size: 0.85rem;
}

.u-text-medium.u-text-medium {
  font-size: 1.25rem;
}

.u-text-large.u-text-large {
  font-size: 1.75rem;
}

.u-label {
  font: normal bold 1em "Sailec", Helvetica, Arial, sans-serif;
}

.u-code.u-code {
  font-family: "Input Mono Compressed", Consolas, "Andale Mono", Menlo, Monaco, Courier, monospace;
}

.u-heading-1 {
  font: normal bold 2.75rem/1.375 "Sailec", Helvetica, Arial, sans-serif;
  margin-bottom: 1rem;
}

.u-heading-2 {
  font: normal bold 2rem/1.375 "Sailec", Helvetica, Arial, sans-serif;
  margin-bottom: 0.5rem;
}

.o-main {
  width: 100%;
}

.o-container {
  flex: 1;
  position: relative;
  background: inherit;
  width: 100%;
}

.o-banner {
  flex: 0 0 1;
  background: #4357ad;
  color: #fff;
  padding: 2rem 3rem;
  width: 100%;
}

.o-form {
  display: flex;
  flex-flow: row wrap;
}

.o-block {
  margin-bottom: 2.5rem;
}
.o-block a {
  border-bottom: 1px solid;
}

.o-button {
  display: inline-block;
  background: #fff;
  box-shadow: 2px 2px 0 #3d4b8b;
  color: #3d4b8b;
  padding: 0.75em 1em;
  border-radius: 0.5rem;
}

.c-input {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  position: relative;
  background: #3d4b8b;
  padding: 0.5rem 1rem;
  margin: 0 0.75rem 0.75rem 0;
  border-color: #3d4b8b;
  border-radius: 0.5rem;
  width: auto;
}
.c-input.c-input--full {
  flex: 1;
}

.c-input__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  user-select: none;
}

.c-input__field {
  flex: 1;
  font: inherit;
  background: transparent;
  color: inherit;
  line-height: 1;
  width: 100%;
}
.c-input__field.c-input__field--area {
  padding: 1rem 0.5rem;
  line-height: 1.375;
  min-height: 10rem;
  resize: vertical;
}
.c-input__field::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.c-input__field ::selection {
  background: #fff;
  color: #3d4b8b;
}

.c-input__icon {
  margin-left: 0.75em;
}

.c-input__button {
  font-size: inherit;
  background: transparent;
  color: inherit;
  cursor: pointer;
}
.c-input__button.c-input__button--large {
  font-size: 1.5em;
}

.c-input__button__icon {
  width: 1.25em;
  height: 1.25em;
}
.loading .c-input__button__icon {
  display: none;
}

.c-input__button__spinner {
  width: 1.15em;
  height: 1.15em;
  display: none;
  animation: spinner 0.5s linear infinite;
}
.loading .c-input__button__spinner {
  display: inline-block;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.c-dropdown {
  position: absolute;
  top: calc(100% - 0.5rem);
  left: 0;
  background: #3d4b8b;
  display: none;
  width: 100%;
  z-index: 100;
  user-select: none;
  list-style: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  max-height: 50vh;
  overflow-y: scroll;
}
.c-dropdown__trigger:checked + .c-dropdown {
  display: block;
  z-index: 10;
}

.c-dropdown__option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
  padding: 0.75rem;
  border-top: 1px solid #2d3867;
  line-height: 1.25;
  width: 100%;
}
.c-dropdown__trigger:checked + .c-dropdown__option {
  font-weight: bold;
}
.c-dropdown__trigger:checked + .c-dropdown__option .c-dropdown__option__icon {
  opacity: 1;
}

.c-dropdown__option__icon {
  flex: 1.25rem 0 0;
  opacity: 0;
}

.c-dropdown__trigger {
  display: none;
}

[data-tooltip] {
  position: relative;
  cursor: default;
}
[data-tooltip]:after {
  position: absolute;
  top: 125%;
  left: 50%;
  display: inline-block;
  background: #4357ad;
  border-radius: 2px;
  color: #fff;
  content: attr(data-tooltip);
  font: normal normal 0.85rem "Sailec", Helvetica, Arial, sans-serif;
  opacity: 0;
  padding: 0.25em 0.5em;
  transform: translateX(-50%) translateY(-2px);
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
  visibility: hidden;
  white-space: nowrap;
  z-index: 200;
}
[data-tooltip]:hover:after {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  visibility: visible;
}

.c-alert {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  z-index: 100;
  color: #fff;
  background: #1e1935;
  font-weight: bold;
  cursor: pointer;
  line-height: 1;
  display: none;
}
.c-alert:before {
  content: "×";
  display: inline-block;
  font-size: 1.5em;
  margin-right: 0.5em;
  transition: transform 0.05s ease;
  vertical-align: middle;
}
.c-alert:hover:before {
  transform: scale(1.25) translateY(0.025em);
}
.c-alert.c-alert--is-closing {
  transform: translateX(150%);
  transition: transform 0.2s ease;
}
.c-alert.c-alert--error {
  background: #f44d61;
}

::selection {
  background: #4357ad;
  color: #fff;
}

.o-main {
  width: 100%;
}

.o-container {
  padding: 3rem 5rem 5rem;
  overflow: auto;
}

/*# sourceMappingURL=style.css.map */
